<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
</head>

<body onload="getDate();" >
    <div>
        <p><span id="date"></span></p>
        <script type="text/javascript" language="javascript">

        function getDate() {
              var event = new Date();
              var current_date=event.toDateString();
              var current_time=event.toLocaleTimeString('en-US');
              document.getElementById('date').innerText=current_date+ " | "+"UPDATED"+" "+current_time ;
        }

        </script>
    </div>
    <div>
        <h1>THE TIMES OF INDIA</h1>
{#    </div>#}
{#    <div>#}
        <ul>
            {% for item in l1 %}
                <li><a href="#">{{ item.name }}</a></li>
{#                <ul class="dropdown">#}
{#                <div class="dropdown-content">#}
{#                {% for item2 in l2 %}#}
{#                    <li><a href="#">{{ item2.name }}</a></li>#}
{#                {% endfor %}#}
{#                </div>#}
{#                </ul>#}

            {% endfor %}
        </ul>
    </div>
</body>
</html>